*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: rgb(196, 196, 196);
}




section{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: repeat(4, 1fr);
   
    
    
}

#lila {
    background-image: linear-gradient(rgb(80, 80, 255), rgb(138, 77, 182));
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 25px;
    text-align: center;
    padding-top: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    position: relative;
    top: 12vw;
    width: 90%;
    margin-left: 10%;
    padding-bottom: 5vw;

    
    
}
#feher{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 25px;
    position: relative;
    top: 12vw;
    margin-left: 5%;
    width: 90%;
    text-align: right;

    
}

#cim{
 padding-top: 20px;
 padding-bottom: 50px;
}
#kor{
    width: 7vw;
    height: 7vw ;
    background-color: rgb(151, 53, 151);
    border-radius: 100%;
    margin: auto;
    border: 3px solid black;
    align-content: center;
}
#asd{
    color: white;
    font-size: 4vw;
}
#great{
    color: white;
    font-weight: 700;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;

}
#dsa{
    font-size: 1.5vw;
}
#szoveg{
    width: 65%;
    margin-left: 18%;
    
}
#reaction{
    display: flex;
    position: relative;
    right: 6%;
    top: 20%;
    background-color: rgb(255, 182, 182);
    float: right;
    width: 17vw;
    text-align: left;
  

}


#memory{
    position: relative;
    left: 31.7%;
    top: 30%;
    background-color: rgb(255, 182, 182);
    float: right;
    width: 17vw;
  
}
#memory p{
    float: right;
}