*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: rgb(196, 196, 196);
}




section{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: repeat(4, 1fr);
    
    
    
}

#lila {
    background-image: linear-gradient(rgb(80, 80, 255), rgb(138, 77, 182));
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 25px;
    text-align: center;
    padding-top: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 1;
    position: relative;
    top: 12vw;
    width: 90%;
    margin-left: 10%;
    padding-bottom: 5vw;

    
    
}
#feher{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 25px;
    position: relative;
    top: 12vw;
    margin-left: 5%;
    width: 90%;
    text-align: right;

    
}

#cim{
 padding-top: 20px;
 padding-bottom: 50px;
}
#kor{
    width: 7vw;
    height: 7vw ;
    background-color: rgb(151, 53, 151);
    border-radius: 100%;
    margin: auto;
    border: 3px solid black;
    align-content: center;
}
#asd{
    color: white;
    font-size: 4vw;
}
#great{
    color: white;
    font-weight: 700;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;

}
#dsa{
    font-size: 1.5vw;
}
#szoveg{
    width: 65%;
    margin-left: 18%;
    
}
#reaction{
    position: relative;
    right: 2.7vw;  
    top: 4vw;
    background-color: rgba(255, 109, 109, 0.24);
    float: right;
    width: 17vw;
    text-align: left;
    height: 3vw;
    align-content: center;
    border-radius: 0.5vw;
}


#memory{
    position: relative;
    left: 14.3vw;
    top: 7vw;
    background-color: rgba(255, 254, 209, 0.507);
    float: right;
    width: 17vw;
    height: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    align-content: center;
    border-radius: 0.5vw;
  
}


#left{
    float: left;

}
#right {
    float: right;
}
#verbal{
    position: relative;
    right: 2.7vw;  
    top: 7vw;
    background-color: rgba(183, 252, 214, 0.425);
    float: right;
    width: 17vw;
    text-align: left;
    height: 3vw;
    align-content: center;
    border-radius: 0.5vw;
}
#visual{
    position: relative;
    left: 14.3vw;
    top: 11vw;
    background-color: rgba(120, 133, 252, 0.418);
    float: right;
    width: 17vw;
    text-align: left;
    height: 3vw;
    align-content: center;
    border-radius: 0.5vw;
}
.ho{
    position: relative;
    right: 2.7vw;
    top: 45%;
    background-color: rgb(85, 81, 81);
    float: right;
    width: 17vw;
    text-align: left;
    height: 4vw;
    align-content: center;
    text-align: center;
    border-radius: 2vw;
}

.ho:hover{
    background: linear-gradient(rgb(80, 80, 255), rgb(138, 77, 182));
  
}
img{
    float: left;
  
}
#szoveg2 {
    position: relative;
    top: 2.2vw;
    right: 14vw;
    font-size: 1.5vw;
}
@media  screen and (max-width:600px){
    #lila{
        width: 100%;
        margin-left: 0px;
        top: 0%;
        border-radius: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
     #kor{
        width: 25vw;
        height: 25vw;
     }
    section{
        display: block;
      
    }
    #cim{
        font-size: 5vw  ;
    }
    #great{
        font-size: 5vw;
    }
    #asd{
        font-size: 10vw;
    }
    #dsa{
        font-size: 5vw;
    }
    body{
        background-color: white;
    }
    #reaction{
        width: 100%;
        margin: 0;
        top:0%
    }
}